<div class="container">
  <label class="checkbox">
      <input
        type="checkbox"
        [(ngModel)]="showCompleted"
        (ngModelChange)="toggleShowCompleted($event)"
    />
      Show completed
    </label>
<ul class="reset todo-list">
  <ng-container *ngFor="let todo of todos">
    <li
      class="clicky todo-list__item"        
      *ngIf="!todo.completed || showCompleted"
      [ngClass]="{ 'todo-list__item--completed': todo.completed }"
      (click)="updateTodo(todo.toggleCompleted())"
    >
      {{ todo.title }}
    </li>
  </ng-container>
</ul>

<form class="mt-3" (ngSubmit)="addTodo(todoInput.value)" novalidate>
  <input
    #todoInput
    class="create-input"
    type="text"
    placeholder="New todo"
    required
  />
</form>
</div>
