@import '../../../styles/variables.scss';

.container {
  padding: 1rem 2rem;
}

.todo-list {
  &__item {
    padding: 0.25rem 0.5rem;
    color: $gray;
    border: 1px solid $gray;
    border-radius: 0.5rem;

    & + .todo-list__item {
      margin-top: 0.25rem;
    }

    &--completed {
      border-color: transparent;
      color: $light-gray;
      text-decoration: line-through;
    }
  }
}

.todo-input {
  border: 0;
  outline: 0;
  width: 100%;
  border-bottom: 1px solid $gray;
  color: $gray;
}
